MONGODB_URI=''
DATABASE_NAME=''
LOCAL_DEV_APP_HOST='localhost'
LOCAL_DEV_APP_PORT=8017
WEBSITE_DOMAIN_DEVELOPMENT='http://localhost:5173'
WEBSITE_DOMAIN_PRODUCTION=''

BREVO_API_KEY=
ADMIN_EMAIL_ADDRESS=
ADMIN_EMAIL_NAME=

ACCESS_JWT_SECRET_KEY='your_jwt_secret_key_here'
ACCESS_JWT_EXPIRES_IN='1h'

REFRESH_JWT_SECRET_KEY='your_refresh_jwt_secret_key_here'
REFRESH_JWT_EXPIRES_IN='14d'